{% assign posts = site.posts %}

<div class="post-list">
  {% for post in posts %}
    <article class="card-wrapper card">
      <a href="{{ post.url | relative_url }}" class="post-preview">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>

          {% if post.description %}
            <p class="card-text">{{ post.description }}</p>
          {% endif %}

          <div class="post-meta text-muted">
            <span>
              {% include datetime.html date=post.date %}
            </span>
            <span>·</span>
            {% assign words = post.content | number_of_words %}
{% assign minutes = words | divided_by: 200 | at_least: 1 %}
{{ minutes }} min read </div>
        </div>
      </a>
    </article>
  {% endfor %}
</div>

