---
layout: default
---

{% include lang.html %}

<div class="container px-1">

  <!-- Post list (THIS WAS MISSING) -->
  {% include post-list.html %}

  <!-- Home CTA -->
  <div class="home-actions text-center my-5">

    <a
      href="https://technicalwritingwork.substack.com"
      target="_blank"
      class="btn btn-primary me-2"
    >
      Subscribe on Substack
    </a>

    <a
      href="https://www.linkedin.com/company/technicalwriting-work/"
      target="_blank"
      class="btn btn-outline-secondary"
    >
      Follow on LinkedIn
    </a>

  </div>

</div>

